body{
  background-color: #1A4B56;
}

a{
  background-color: #D3A00D;
  color: rgb(29, 29, 29);
    text-align: center;
    border: 2px solid  #D3A00D;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
}
dl{
  text-align: left;
}
dt, dd{
  margin-top: 0px;
}

body{
  color: white;
}

article{
  border-radius: 80%;
  border-color: #9E37AE;
}